<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contact</title>
</head>
<body class="contact-page">

<header>
    <h1>Contact</h1>
    <nav>
        <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>
    <h1>Get to know me!</h1>
    <p>Email  : kintanaa123@gmail.com </p>
    <p>No. HP : 081210632472 </p>
    <p>Instagram : @jkintan </p>





</body>
<footer>

</footer>
</html>
